@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Blogic.Crm.Web.Views.Contract.GetContractViewModel

@{
    ViewData["Title"] = "Contract";
}

<nav aria-label="breadcrumb mt-4 mb-5">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a asp-action="GetContracts">Contracts</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Contract</li>
    </ol>
</nav>

<h1>Contract</h1>

@await Html.PartialAsync("_GetContractPartial", (Model.Contract, Model.Client, Model.Consultant))