@model Blogic.Crm.Web.Views.Contract.GetContractsViewModel

@{
    ViewData["Title"] = "Dashboard";
}

<nav aria-label="breadcrumb mt-4 mb-5">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
    </ol>
</nav>

<h1>Dashboard</h1>
@await Html.PartialAsync("Contract/_GetContractDashboardPartialView", (Model.Contracts, Model.QueryString))

