@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Blogic.Crm.Web.Views.Contract.GetContractViewModel

@{
    ViewData["Title"] = "Contract";
}

<nav aria-label="breadcrumb mt-4 mb-5">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a asp-action="GetContracts">Contracts</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Contract</li>
    </ol>
</nav>

<h1>Contract</h1>

@await Html.PartialAsync("Contract/_GetContractPartial", Model.Contract)

<h2 class="mt-5">Owner</h2>
<p>
    <button class="btn btn-outline-dark" type="button" data-bs-toggle="collapse" data-bs-target="#toggle-owner-account" aria-expanded="false" aria-controls="collapseExample">
        Detail
    </button>
</p>

<div class="collapse" id="toggle-owner-account">
    @await Html.PartialAsync("Client/_GetClientPartial", Model.Client)
</div>


<h2 class="mt-5">Manager</h2>
<p>
    <button class="btn btn-outline-dark" type="button" data-bs-toggle="collapse" data-bs-target="#toggle-manager-account" aria-expanded="false" aria-controls="collapseExample">
        Detail
    </button>
</p>

<div class="collapse" id="toggle-manager-account">
    @await Html.PartialAsync("Contract/_GetConsultantPartial", Model.Consultant)
</div>