@model Blogic.Crm.Web.Views.Consultant.GetConsultantViewModel

@{
    ViewData["Title"] = "Account";
    var consultant = Model.Consultant;
}

<nav aria-label="breadcrumb mt-4 mb-5">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a asp-action="GetConsultants">Consultants</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Account</li>
    </ol>
</nav>

<h1>Account</h1>

@await Html.PartialAsync("Consultant/_GetConsultantPartial", consultant)