@model Blogic.Crm.Web.Views.Consultant.GetConsultantsViewModel

@{
    ViewData["Title"] = "Dashboard";
}

<nav aria-label="breadcrumb mt-4 mb-5">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Consultants</li>
    </ol>
</nav>

<h1>Dashboard</h1>
@await Html.PartialAsync("Consultant/_GetConsultantDashboardPartialView", (Model.Consultants, Model.QueryString))