@model ContractQueryString

<form asp-controller="Contract"
      asp-action="ExportContracts"
      asp-antiforgery="true"
      method="@HttpMethods.Post"
      asp-all-route-data="@Model.ToDictionary()"
      class="d-flex align-content-end justify-content-end g-3">
    <button type="submit" class="btn btn-dark btn-export">CSV</button>
</form>