@model Blogic.Crm.Web.Views.Client.GetClientViewModel

@{
    ViewData["Title"] = "Account";
    var client = Model.Client;
}

<nav aria-label="breadcrumb mt-4 mb-5">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a asp-action="GetClients">Clients</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Account</li>
    </ol>
</nav>

<h1>Account</h1>

@await Html.PartialAsync("Client/_GetClientPartial", client)

<h2>Owned contracts</h2>
<p>
    <button class="btn btn-outline-dark" type="button" data-bs-toggle="collapse" data-bs-target="#toggle-owned-contracts" aria-expanded="false" aria-controls="collapseExample">
        Show
    </button>
</p>

<div class="collapse" id="toggle-owned-contracts">
    @if (Model.OwnedContracts is not null)
    {
        foreach (var contract in Model.OwnedContracts)
        {
            @await Html.PartialAsync("Contract/_GetContractPartial", contract)
        }
    }
</div>