@model Blogic.Crm.Web.Views.Client.GetClientViewModel

@{
    ViewData["Title"] = "Account";
    var client = Model.Client;
}

<nav aria-label="breadcrumb mt-4 mb-5">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a asp-action="GetClients">Clients</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Account</li>
    </ol>
</nav>

<h1>Account</h1>

@await Html.PartialAsync("Client/_GetClientPartial", client)